{% extends "layout.html" %}

{% block content %}
  <div class="container">
    <a href="{{ url_for('index') }}" class="btn btn-primary mb-3">戻る</a>
    <h2 class="text-center">レシピ詳細</h2>
    <div class="main-container">
        <div class="title">
          <h5>料理名：</h5>
          <div class="title-content"><p>{{ recipe.title }} {{ recipe.step_photo_path }}</p></div>
        </div>
        <div class="ingredient-quantity">
          <table>
          <thead>
            <tr>
              <th scope="col">材料</th>
              <th scope="col">分量</th>
            </tr>
          </thead>
          <tbody>
            {% for ingredient in ingredients %}
            <tr>
              <td>{{ ingredient.ingredient_name }}</td>
              <td>{{ ingredient.quantity }}</td>
            </tr>
            {% endfor %}
          </tbody>
          </table>
        </div>
        <div class="step">
          <h5>手順：</h5>
          <div class="step-content">
            {% for step in steps %}
            <div><a>{{ step.content }}</a></div>
            <div><a>{{ step.step_photo }}</a></div>
            {% endfor %}
          </div>
        </div>
        <div class="memo">
          <h5>メモ：</h5>
          <div><p>{{ recipe.memo }}</p></div>
        <div class="row border p-2 mb-2">
          <div class="col-sm-3"><h5>最終更新日：</h5>
          <p>{{ format(recipe.updated_at, '%Y-%m-%d %H:%M:%S') }}</p>
          </div>
        </div>
        <a href="#" class="btn btn-primary mb-3 mr-2">編集する</a>
        <a href="{{ url_for('delete_recipe', recipe_id=recipe.id) }}" class="btn btn-danger mb-3">削除する</a>
    </div>
  </div>
{% endblock %}
